<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Alfonso Rodríguez">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../images/Logo.png" type="image/x-icon"> <!-- Window Icon-->
</head>

<body>
    <div class="page-wrapper">
        <header>
            <a href="../index.html" title="Home">
                <img id="logo" src="../images/Logo.png" alt="Yankees Logo" width="500" height="500">
            </a>
            <nav>
                <ul id="nav-list">
                    <li><a class="menu-content" href="../index.html" title="Menu">Menú</a></li>
                    <li><a class="menu-content" href="galeria.html" title="Galería">Galería</a></li>
                    <li><a class="menu-content" href="presupuesto.html" title="Presupuesto">Presupuesto</a></li>
                    <li><a id="current-page" class="menu-content" href="contacto.html" title="Contacto">Contacto</a></li>
                    <li><a class="menu-content" href="aviso-legal.html" title="Aviso Legal">Aviso Legal</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="contact-container">
                <div id="map-container">
                    <img id="map-photo" src="../images/Map.png" alt="Mapa de ubicación" width="550" height="230">
                </div>

                <div id="contact-info">
                    <h1 id="contact-title">Información de Contacto</h1>
                    <strong>Ubicación: </strong>
                    <p>1 E 161st St, Bronx, NY 10451, Estados Unidos</p>
                    <strong>Teléfono: </strong> <span> (646) 977-8777</span>
                </div>
            </div>
        </main>

        <footer id="footer">
            <div class="footer-content">
                <div class="social-media">
                    <a href="https://www.facebook.com" target="_blank" title="Facebook">
                        <img src="../images/Facebook.png" alt="Facebook" width="2143" height="2143">
                    </a>
                    <a href="https://www.twitter.com" target="_blank" title="Twitter">
                        <img src="../images/Twitter.png" alt="Twitter" width="600" height="600">
                    </a>
                    <a href="https://www.instagram.com" target="_blank" title="Instagram">
                        <img src="../images/Instagram.png" alt="Instagram" width="1200" height="1200">
                    </a>
                </div>

                <div class="company-info">
                    <p>1 E 161st St, Bronx, NY 10451, Estados Unidos</p>
                </div>

                <div class="legal">
                    <a href="./aviso-legal.html" title="Aviso legal">Aviso Legal</a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>